@model List<BlogWeb.Models.Postagem>
<h2>Blog Curso - ASP.NET MVC e Persistencia com NHibernate </h2>

@foreach (var item in Model)
{
    <article>
        <h2>@item.Titulo</h2>
        @if (item.Autor != null)
        {
            <div>@item.Autor.Nome - @item.DataPublicacao</div>
        }
        else
        {
            <div>Sem Autor - @item.DataPublicacao</div>
        }
    </article>
}
